body
    {
        width: 100%;
        height: 100vh;
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .div1
    {
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    .div3
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        margin-left: -20px;
        margin-top: 70px;
    }

    .barra
    {
        width: 360px;
        height: 20px;
        background-color: #EF5867;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        margin-top: 80px;
    }

    
    .barrinha
    {
        margin-top: 20px;
        margin-left: 310px;


    }

    .logo
    {
        margin-left: 15px;
    }

    .titulo
    {
        margin-left: 20px;
        margin-top: -45px;
    }

    .circulo
    {
        margin-left: 20px;
        height: 80px;
        width: 80px;
        background-color: #EF5867;
        border-radius: 50%;
    }